html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.main {
  max-width: 800px;
  /* height: 5000px; */
  margin: 0 auto;
}
.cartegory {
  margin: 0;
  padding: 0;
  background-color: black;
  list-style: none;
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.nav-item {
  padding: 15px 22px;
  cursor: pointer;
}
/* .nav-item:hover {
  background-color: deeppink;
} */
.nav-item a {
  text-align: center;
  text-decoration: none;
  color: white;
}
.intro {
  /* text-align: center; */
  background-image: url(./logo_image/kt_bennner.jpg);
  width: 796px;
  height: 400px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.intro img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.main h2 {
  margin: 0;
  border: 0;
  text-align: left;
  color: white;
  /* border-top: 2px solid white; */
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
}
table.type01 {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
}
table.type01 th {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  background-color: black;
  /* vertical-align: top; */
  border: 1px solid white;
  border-left: 2px solid black;
  color: red;
}
table.type01 td {
  width: 600px;
  height: 100%;
  padding: 10px;
  vertical-align: top;
  border: 2px solid black;
  color: black;
  text-align: left;
}
